<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hey! Glad you are here!</title>
    </head>
    <body>
        <img src="">
        <h1>What's the weather like?</h1>
        <form method="POST">
                <input class="input" type="text" name="search" placeholder="City Name"><br><br>
                <button>Add city</button>
        </form><br>
        <div class="flex-container">
                <div>1</div>
              </div>
    </body>
</html>